
.c999999{
    color:#999999 !important; 
}
.c428675{
    color:#428675
}
.c353535{
    color:#353535
}
.c707070{
    color:#707070
}
.c444444{
    color:#444444
}
.cfff{
    color:#fff
}
.c93BF88{
    color:#93BF88
}
.c000000{
    color:#000000
}
.cFA6557{
    color:#FA6557
}
.cD8D8D8{
    color:#D8D8D8
}
.ca9a9a9{
    color:#a9a9a9
}