.f12{
    font-size:12px !important;
}
.f14{
    font-size:14px !important;
}
.f16{
    font-size:16px !important;
}
.f18{
    font-size:18px !important;
}
.f20{
    font-size:20px !important;
}
.f24{
    font-size:24px;
}
.f25{
    font-size:25px !important;
}
.f30{
    font-size:30px !important;
}
.f50{
    font-size:50px !important;
}


.frem24{
    font-size:1.5rem;
}

.frem40{
    font-size:2.5rem;
}
