.marginAuto{
  margin:0 auto
}
.margin-left-10{
  margin-left: 10px;
}
.margin-right-10{
  margin-right: 10px;
}
.mr0{
  margin-right:0 !important;
}
.mt-5{
  margin-top: 5px;
}
.ml-5{
  margin-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mt5{
  margin-top: 5px;
}
.mt8{
  margin-top: 8px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt-15{
  margin-top: 15px !important;
}
.ml5{
  margin-left: 5px;
}
.mr15{
  margin-right: 15px;
}
.ml15{
  margin-left: 15px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.ml-20{
  margin-left: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.mt-20{
  margin-top: 20px;
}
.mt20{
  margin-top: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb30{
  margin-bottom: 30px;
}
.mt-30{
  margin-top: 30px;
}
.ml-30{
  margin-left: 30px;
}
.mt50{
  margin-top:50px;
}
.ml80 {
  margin-left: 80px;
}
.mr80 {
  margin-right: 80px;
}
.mt10{
  margin-top:10px;
}
.mb10{
  margin-bottom:10px;
}

.mtrem10{
  margin-top:0.625rem;
}

.mtrem15{
  margin-top:0.9375rem;
}
.mbrem15{
  margin-bottom:0.9375rem;
}
.mtrem50{
  margin-top:3.125rem;
}
.mtrem80{
  margin-top:5rem;
}
.mbrem50{
  margin-bottom:3.125rem;
}

.mtrem100{
  margin-top:6.25rem;
}
.mbrem100{
  margin-bottom:6.25rem;
}
.mtrem20{
  margin-top:1.25rem;
}
.mtrem30{
  margin-top:1.875rem;
}

.mbrem30{
  margin-bottom:1.875rem;
}
