.pt-15 {
  padding-top: 15px !important;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pr30 {
  padding-right: 30px;
}

.padding20-y {
  padding: 20px 0;
}

.padding20-x {
  padding: 0 20px;
}

.pa10 {
  padding: 10px;
}

.pa20 {
  padding: 20px;
}

.pa30 {
  padding: 30px;
}

.parem10 {
  padding: 0.625rem;
}

.parem18 {
  padding: 1.125rem;
}

.parem20 {
  padding: 1.875rem;
}

.ptrem20 {
  padding-top: 1.875rem;
}

.pbrem20 {
  padding-bottom: 1.875rem;
}

.ptrem5 {
  padding-top: 0.3125rem;
}

.pbrem5 {
  padding-bottom: 0.3125rem;
}
