.border-radius3{
    border-radius: 3px;
}
.border-radius5{
    border-radius: 5px;
}
.border-top-left-radius5{
    border-top-left-radius: 5px;
}
.border-top-right-radius5{
    border-top-right-radius: 5px;
}
.border-bottom-left-radius5{
    border-bottom-left-radius: 5px;
}
.border-bottom-right-radius5{
    border-bottom-right-radius: 5px;
}
.radius100{
    border-radius: 100%;
}